################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GiftCard_Shopp/.vs/GiftCard_Shopp/FileContentIndex
/GiftCard_Shopp/.vs/GameTeck_Shop/FileContentIndex
